.slick-track div {
    margin-left: 30px;
}

.image-text {
    position: absolute;
    color: red;
    bottom: 19px;
    text-align: center;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
}