header {
  .logo-container {
    position: relative;
    width: 80px;
    height: 40px;
    cursor: pointer;

    .file-upload {
      visibility: hidden;
      position: absolute;
      top: 0;
    }
  }
}
